# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env/

# Flask
instance/
.webassets-cache
flask_session/

# SQLite database files
*.sqlite
*.db
*.db-shm
*.db-wal

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.flaskenv

# OS specific files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Linux
*~
