{% extends 'base.html' %}

{% block title %}Liste de Recettes{% endblock %}

{% block content %}
<h1>Liste de Recettes</h1>
<div class="card-container">
    {% for recipe in recipes %}
        <div class="card">
            <h3><a href="{{ url_for('display_recipe', id=recipe['id']) }}">{{ recipe['titre'] }}</a></h3>
            <p>
                Préparation : {{ recipe['temps_preparation'] }}<br>
                Cuisson : {{ recipe['temps_cuisson'] }}<br>
                Rendement : {{ recipe['rendement'] }}
            </p>
            <a href="{{ url_for('display_recipe', id=recipe['id']) }}" class="btn">Voir la recette</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
