{% extends 'base.html' %} {% block title %}{{ recipe['titre'] }}{% endblock %}
{% block content %}
<main>
  <article aria-labelledby="recipe-title">
    <header>
      <h1 id="recipe-title">{{ recipe['titre'] }}</h1>
      <div>
        <img
          src="{{ url_for('static', filename='images/' ~ recipe['id'] ~ '.png') }}"
          alt="Photo du plat {{ recipe['titre'] }}"
        />
        <dl class="recipe-meta">
          <div>
            <dt>Préparation</dt>
            <dd>{{ recipe['temps_preparation'] }}</dd>
          </div>
          <div>
            <dt>Cuisson</dt>
            <dd>{{ recipe['temps_cuisson'] }}</dd>
          </div>
          <div>
            <dt>Rendement</dt>
            <dd>{{ recipe['rendement'] }}</dd>
          </div>
        </dl>
      </div>
    </header>

    <section aria-labelledby="ingredients-heading">
      <h2 id="ingredients-heading">Ingrédients</h2>
      {% for ing in ingredients %} {% if ing.groupe is defined %}
      <section aria-labelledby="group-{{ loop.index }}">
        <h3 id="group-{{ loop.index }}">{{ ing.groupe }}</h3>
        <ul>
          {% for item in ing.liste %}
          <li>
            <span class="ing-name">{{ item.nom }}</span> –
            <span class="ing-quantity">{{ item.quantité }}</span>
            <span class="ing-unit">{{ item.unité }}</span>
            {% if item.alternative %}
            <span class="ing-alternative"> ({{ item.alternative }})</span>
            {% endif %} {% if item.note %}
            <span class="ing-note"> – {{ item.note }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </section>
      {% else %}
      <ul>
        <li>
          <span class="ing-name">{{ ing.nom }}</span> –
          <span class="ing-quantity">{{ ing.quantité }}</span>
          <span class="ing-unit">{{ ing.unité }}</span>
          {% if ing.alternative %}
          <span class="ing-alternative"> ({{ ing.alternative }})</span>
          {% endif %} {% if ing.note %}
          <span class="ing-note"> – {{ ing.note }}</span>
          {% endif %}
        </li>
      </ul>
      {% endif %} {% endfor %}
    </section>

    <section aria-labelledby="instructions-heading">
      <h2 id="instructions-heading">Instructions</h2>
      <ol class="animated-instructions">
        {% for step in instructions %}
          <li style="--delay: {{ loop.index * 0.2 }}s">
            {{ step }}
          </li>
        {% endfor %}
      </ol>
    </section>


    <section>
      <a
        class="btn-add"
        href="{{ url_for('add_to_list', recipe_id=recipe['id']) }}"
      >
        Ajouter cette recette à ma sélection
      </a>
    </section>

    <footer></footer>
  </article>
</main>
{% endblock %}
